<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="msg : ${list}">
    <a th:href="@{/admin/{id}(id=${msg.getId()})}" th:text="${msg.getId()}"></a>
    <a th:text="${msg.getUsername()}"></a>
</div>
<a th:href="@{/admin/createForm}">create</a>
<a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>